In [1]:
import pandas as pd
import numpy as np
import os
import gensim

In [2]:
text=pd.read_csv("C:\\Users\\hp\\Documents\\DataSet\\Precily_Task\\Precily_Text_Similarity.csv")
text.head()

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [3]:
text.shape

(3000, 2)

In [4]:
print(text['text1'])

0       broadband challenges tv viewing the number of ...
1       rap boss arrested over drug find rap mogul mar...
2       player burn-out worries robinson england coach...
3       hearts of oak 3-2 cotonsport hearts of oak set...
4       sir paul rocks super bowl crowds sir paul mcca...
                              ...
2995    uk directors guild nominees named martin scors...
2996    u2 to play at grammy awards show irish rock ba...
2997    pountney handed ban and fine northampton coach...
2998    belle named  best scottish band  belle & sebas...
2999    criminal probe on citigroup deals traders at u...
Name: text1, Length: 3000, dtype: object

In [5]:
print(text['text2'])

0       gardener wins double in glasgow britain s jaso...
1       amnesty chief laments war failure the lack of ...
2       hanks greeted at wintry premiere hollywood sta...
3       redford s vision of sundance despite sporting ...
4       mauresmo opens with victory in la amelie maure...
                              ...
2995    steel firm  to cut  45 000 jobs mittal steel  ...
2996    israel looks to us for bank chief israel has a...
2997    india and iran in gas export deal india has si...
2998    mido makes third apology ahmed  mido  hossam h...
2999    former ni minister scott dies former northern ...
Name: text2, Length: 3000, dtype: object

In [6]:
t1= text['text1']
t2= text['text2']

In [7]:
t1[1]

'rap boss arrested over drug find rap mogul marion  suge  knight has been arrested for violating his parole after he was allegedly found with marijuana.  he was arrested in barstow  california  on saturday following an alleged traffic offence. he is expected to be transferred to a state prison while a decision is made on whether he should be released. mr knight  founder of death row records  served a 10-month jail term in 2004 for punching a man while on parole for an assault conviction. police said mr knight was stopped on saturday after performing an illegal u-turn and a search of his car allegedly found marijuana.  he is also accused of not having insurance. a 18-year-old woman in the car was arrested for providing false information and having a fake id card. she was later released. it was his second alleged violation  having previously served half of a nine-year sentence for breaking the terms of his parole. mr knight  39  was jailed in october 1996 following his involvement in a fight with a rival gang just hours before rapper tupac shakur was killed in a las vegas drive-by shooting. he was driving shakur s car at the time and was shot in the head. at the time he was on probation for assaulting two musicians. mr knight  a former bodyguard  set up death row records in the early 1990s with shakur and dr dre among his protegees. but the label has always been dogged by allegations it supports gang culture and fuels the east and west coast rap rivalry.'

In [8]:
import spacy as sp

In [9]:
nlp= sp.load('en_core_web_lg')

In [10]:
text=text.assign(Id=range(1, len(text) + 1))

In [11]:
text.head()

,text1,text2,Id
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...,1
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...,2
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...,3
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...,4
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...,5

In [12]:
text= text[['Id','text1','text2']]
text.head()

,Id,text1,text2
0,1,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,2,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,3,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,4,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,5,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [14]:
t1= text.loc[text['Id']==1,'text1'].iloc[0]

In [15]:
t1

'broadband challenges tv viewing the number of europeans with broadband has exploded over the past 12 months  with the web eating into tv viewing habits  research suggests.  just over 54 million people are hooked up to the net via broadband  up from 34 million a year ago  according to market analysts nielsen/netratings. the total number of people online in europe has broken the 100 million mark. the popularity of the net has meant that many are turning away from tv  say analysts jupiter research. it found that a quarter of web users said they spent less time watching tv in favour of the net  the report by nielsen/netratings found that the number of people with fast internet access had risen by 60% over the past year.  the biggest jump was in italy  where it rose by 120%. britain was close behind  with broadband users almost doubling in a year. the growth has been fuelled by lower prices and a wider choice of always-on  fast-net subscription plans.  twelve months ago high speed internet users made up just over one third of the audience in europe; now they are more than 50% and we expect this number to keep growing   said gabrielle prior  nielsen/netratings analyst.  as the number of high-speed surfers grows  websites will need to adapt  update and enhance their content to retain their visitors and encourage new ones.  the total number of europeans online rose by 12% to 100 million over the past year  the report showed  with the biggest rise in france  italy  britain and germany.  the ability to browse web pages at high speed  download files such as music or films and play online games is changing what people do in their spare time.  a study by analysts jupiter research suggested that broadband was challenging television viewing habits. in homes with broadband  40% said they were spending less time watching tv. the threat to tv was greatest in countries where broadband was on the up  in particular the uk  france and spain  said the report. it said tv companies faced a major long-term threat over the next five years  with broadband predicted to grow from 19% to 37% of households by 2009.  year-on-year we are continuing to see a seismic shift in where  when and how europe s population consume media for information and entertainment and this has big implications for tv  newspaper and radio   said jupiter research analyst olivier beauvillian.'

In [16]:
t1= nlp(t1)

In [18]:
t2= text.loc[text['Id']==1,'text2'].iloc[0]

In [19]:
t2= nlp(t2)

In [20]:
import similarity

In [21]:
All_doct1= [nlp(row) for row in text['text1']]
All_doct2= [nlp(row) for row in text['text2']]

In [22]:
sims=[]
doc_Id=[]
for i in range (len(text)):
        sim=All_doct1[i].similarity(All_doct2[i])
        sims.append(sim)
        doc_Id.append(i)
        sims_docs= pd.DataFrame(list(zip(doc_Id,sims)),columns=['doc_Id','sims'])

In [23]:
sims_doc_sorted= sims_docs.sort_values(by=['sims'],ascending=False)

In [24]:
top_10= text.iloc[sims_doc_sorted['doc_Id'][1:10]]

In [25]:
top_sims_score= pd.concat([top_10,sims_doc_sorted['sims'][1:10]],axis=1)

In [26]:
top_sims_score

,Id,text1,text2,sims
2304,2305,spurs to sign iceland u21 star tottenham are p...,spurs to sign iceland u21 star tottenham are p...,1.000000
2080,2081,lib dems highlight problem debt people vulnera...,blair backs pre-election budget tony blair h...,0.989587
251,252,economy strong in election year uk businesse...,bank opts to leave rates on hold the bank of e...,0.989503
2256,2257,bt offers free net phone calls bt is offering ...,the future in your pocket if you are a geek or...,0.986824
1336,1337,dvd copy protection strengthened dvds will be ...,swap offer for pirated windows xp computer gia...,0.986542
315,316,fox attacks blair s tory lies tony blair lie...,brown and blair face new rift claims for the u...,0.986453
2122,2123,straw attacked on china arms moves to lift the...,uk heading wrong way - howard tony blair has h...,0.985892
46,47,brown and blair face new rift claims for the u...,tories reject rethink on axed mp sacked mp how...,0.985625
2866,2867,chris evans back on the market broadcaster chr...,music man to the oscars bill conti s job of mu...,0.985524